<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="sun"></div>
    <div class="cloud cloud1"></div>
    <div class="cloud cloud2"></div>
    <div class="container">
        <h1>Weather Dashboard</h1>
        <form id="weatherForm">
            <input type="text" id="cityInput" name="city" placeholder="Enter a city..." required>
            <button type="submit" class="button1">Get Weather</button>
        </form>
        <button id="showSearchesButton" class="button2">Recent searches</button>
        <div id="recentSearches"></div>
        <div id="result"></div>
        <div class="author_note">Coded by Constantin</div>
    </div>
    <script src="/static/js/boot.js"></script>
</body>
</html>
